WebLab3/src/java/pac/xmlSchema.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="taskinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="task" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="t_name"/>
              <xs:element type="xs:string" name="t_description"/>
              <xs:element type="xs:string" name="t_data"/>
              <xs:element type="xs:string" name="t_contacts"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
